@import url("https://fonts.googleapis.com/css2?family=Neuton&family=Roboto&family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

h2,
h4,
h5 {
  font-family: "Roboto Condensed", sans-serif;
}

p {
  font-family: "Roboto Slab", sans-serif;
}
li {
  font-family: "Roboto Slab", sans-serif;
}

.btn-light {
  font-weight: bold;
}

.btn {
  padding: 0.5rem 0.75rem;
  font-size: 1.2rem;
}

/*HEADER*/
a.navbar-brand {
  margin-left: 1rem;
}

.navbar-dark .navbar-brand,
li a {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 22px;
}

li.nav-item {
  margin-right: 2rem;
}

/* /.HEADER*/

/* HERO*/

.hero-section {
  padding-right: 0;
  padding-left: 0;
}

.hero-section .main-title {
  font-size: 3rem;
}

.hero-section h4 {
  font-size: 2.2rem;
}

.hero-section h2,
.hero-section h4 {
  color: #fff;
}

.top-50 {
  top: 45% !important;
}

/* /.HERO*/

/* DIMENSIONES */
.card {
  display: inline-block;
}

.card .card-text {
  font-size: 1.2rem;
}

.card .card-header {
  font-size: 1.3rem;
}
/* /.DIMENSIONES */

/* CULTURE 911 */

.culture-911 {
  background-image: url(images/black-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.culture-911 {
  color: #fff;
}

.culture-911 .img-fluid {
  margin: 10px;
}
@media (max-width: 768px) {
  .culture-911 {
    max-width: 100%;
  }
}

.culture-911 p,
.culture-911 li {
  padding-left: 2rem;
  font-size: 1.2rem;
}

.culture-911 .row {
  flex-wrap: wrap-reverse;
}
