@import url("https://fonts.googleapis.com/css2?family=Neuton&family=Roboto&family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

h2,
h4,
h5 {
  font-family: "Roboto Condensed", sans-serif;
}

p,
a {
  font-family: "Roboto Slab", sans-serif;
}
li {
  font-family: "Roboto Slab", sans-serif;
}

.btn-light {
  font-weight: bold;
}

.btn {
  padding: 0.5rem 0.75rem;
  font-size: 1.2rem;
}

/*HEADER*/
a.navbar-brand {
  margin-left: 1rem;
}

.navbar-dark .navbar-brand,
li a {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 22px;
}

li.nav-item {
  margin-right: 2rem;
}

/* /.HEADER*/

/* HERO*/

.hero-section {
  padding-right: 0;
  padding-left: 0;
}

@media (min-width: 768px) {
  .hero-section .main-title {
    font-size: 3rem;
    margin-bottom: 1rem !important;
  }

  .hero-section h4 {
    font-size: 2.2rem;
    margin-bottom: 1rem !important;
  }
}

.hero-section h2,
.hero-section h4 {
  color: #fff;
}

.top-50 {
  top: 45% !important;
}

/* /.HERO*/

/* DIMENSIONES */
.card {
  display: inline-block;
}

.card .card-text {
  font-size: 1.2rem;
}

.card .card-header {
  font-size: 1.3rem;
}
/* /.DIMENSIONES */

/* CULTURE 911 */

.culture-911 {
  background-image: url(images/black-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.culture-911 {
  color: #fff;
}

.culture-911 .img-fluid {
  margin: 10px;
}
@media (max-width: 768px) {
  .culture-911 {
    max-width: 100%;
  }
}

.culture-911 p,
.culture-911 li {
  padding-left: 2rem;
  font-size: 1.2rem;
}

.culture-911 .row {
  flex-wrap: wrap-reverse;
}
/* /.CULTURE 911 */

/* CULTURE APP */
.culture-app p {
  padding-left: 4.8rem;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .culture-app p {
    padding-left: 0;
  }
}

/* /.CULTURE APP */
/* TOURISM PARTNER */

.culture-tourism-partner p {
  padding-right: 4.8rem;
  font-size: 1.2rem;
}

.culture-tourism-partner .row {
  flex-wrap: wrap-reverse;
}

@media (max-width: 768px) {
  .culture-tourism-partner p {
    padding-right: 0;
  }
}

/* /.TOURISM PARTNER */

/* FOOTER */

/* /.FOOTER */

.footer h1,
.footer h3,
.footer p {
  color: #fff;
}

.footer li,
.footer a {
  color: #fff;
  list-style: none;
  text-decoration: none;
}

.footer .heading-footer {
  font-weight: bold;
}

.copyright p {
  color: #939393;
  margin-left: 1.5rem;
}
